.general-listing {
    height: 320px;
    width: 240px;
    min-height: 300px;
    min-width: 240px;
    background-color: rgb(20,20,20);
    color: white;
    font-family: Gotham;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.general-listing:hover {
    background-color: rgb(63, 61, 61);;
}

.general-listing-text {
    min-height: 80px;
    width: calc(100% - 40px);
    font-size: 2rem;
}

.general-listing-title {
    height: calc(15px + 2rem);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 2rem;
    margin: 15px 0px 0px 0px;
}

.general-listing-category {
    color: rgb(200, 200, 200);
    font-size: 1.5rem;
}
