.main-page {
    height: 100vh;
}

.main-page-upper {
    margin-bottom: 100px;
    height: calc(100vh - 100px);
}

.main-page-left {
    height: 100%;
    width: 250px;
}

.main-page-middle {
    height: 100%;
    width: calc(100vw - 500px);
}

.main-page-right {
    height: 100%;
    width: 250px;
    background-color: black;
}

.main-page-nav {
    min-height: 70px;
    width: 100%;
}

.main-page-content {
    overflow-y: scroll;
}
