/* TODO Add site wide styles */
@font-face {
    font-family: Gotham;
    src: url(https://res.cloudinary.com/dmtj0amo0/raw/upload/v1634337186/Gotham-Bold_ump0rd.otf)
}

@font-face {
    font-family: Gotham-Book;
    src: url(https://res.cloudinary.com/dmtj0amo0/raw/upload/v1640153833/Gotham_Book_Regular_liwvvn.otf)
}

@font-face {
    font-family: Gotham-Narrow;
    src: url(https://res.cloudinary.com/dmtj0amo0/raw/upload/v1640154661/Quicksand-Regular_y7plp1.ttf)
}

@font-face {
    font-family: Spartan;
    src: url(https://res.cloudinary.com/dmtj0amo0/raw/upload/v1640203315/Gotham-Light_tlzzpx.otf)
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

.font-bold {
    font-family: Gotham;
}

.font-normal {
    font-family: Gotham-Book;
}

.font-narrow {
    font-family: Gotham-Narrow;
}

.l-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.l-horizontal-spread {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.l-vertical {
    display: flex;
    flex-direction: column;
}

.hover-pointer {
    cursor: pointer;
}

.link-hover:hover {
    text-decoration: underline;
}

button {
    height: 40px;
    background-color: rgb(36, 36, 36);
    border: 2px solid rgb(36, 36, 36);
    color: white;
    cursor: pointer;
}

button:hover {
    color: rgb(1, 166, 196);
}

.rounded {
    border-radius: 50%;
}

.shadowed {
    box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.5);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.page-load-transition {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.background {
    background-color: rgb(20, 20, 20);
}
