.side-bar {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

.side-bar-placeholder {
    width: 100%;
    min-height: 50px;
}

.side-bar-upper {
    height: 210px;
    width: 100%;
}

.side-bar-nav {
    height: 40px;
    padding: 5px;
}

.side-bar-nav-content {
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 5px;
}

.side-bar-nav-label {
    width: calc(100% - 70px);
    margin-left: 1rem;
    font-size: 2rem;
}

.side-bar-divider {
    height: 1px;
    width: 90%;
    background-color: grey;
    margin: 1px 5%;
}

.side-bar-middle {
    height: 80px;
    width: 100%;
}

.side-bar-lower {
    margin-top: 20px;
    height: calc(100% - 350px);
    width: 100%;
}

.playlist-tab-toggle {
    min-height: 50px;
    width: 100%;
}

.playlist-tab {
    height: 50px;
    width: 50%;
    font-size: 2rem;
}

.playlist-tab-title {
    text-align: center;
}

.playlist-container {
    height: calc(100% - 50px);
    overflow-y: scroll;
}

.playlist-listing-container {
    height: 30px;
    padding: 5px 20px;
}

.playlist-listing {
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
