.site-nav-bar {
    height: 100%;
    width: 100%;
    background-color: rgb(39, 39, 39);
}

.history-button {
    color: white;
}

.history-controls {
    width: 100px;
    display: flex;
    justify-content: space-evenly;
}

.history-button {
    height: 30px;
    width: 30px;
    border: 1px solid white;
    background-color: black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title-section {
    width: 200px;
    font-size: 2rem;
    color: white;
    font-family: Gotham;
}

.page-title {
    margin-left: 20px;
}

.dynamic-sections {
    height: 100%;
    width: calc(100% - 300px);
}

.search-section {
    width: 70%;
}

.profile-section {
    height: 100%;
    width: 30%;
}

#profile-dropdown {
    height: 52px;
}

#profile-button {
    height: 100%;
    border-radius: 30px;
    background-color: black;
}

.profile-button-container {
    height: 40px;
    border-radius: 20px;
    padding: 0px 15px 0px 0px;
}

.profile-button-image {
    margin-right: 10px;
}

.profile-button-text {
    font-size: 1.5rem;
    font-family: Gotham;
}
