.site-nav-bar {
    height: 100%;
    width: 100%;
    background-color: rgb(39, 39, 39);
}

.history-button {
    color: white;
}

.history-controls {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
}

.history-button {
    height: 40px;
    width: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-title-section {
    width: calc(100% - 400px);
    font-size: 2rem;
    color: white;
    font-family: Gotham;
}

.page-title {
    margin-left: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.profile-section {
    height: 100%;
    width: 250px;
}

#profile-dropdown {
    height: 52px;
}

#profile-button {
    height: 100%;
    border-radius: 30px;
    background-color: black;
}

.profile-button-container {
    height: 40px;
    border-radius: 20px;
    padding: 0px 15px 0px 0px;
}

.profile-button-image {
    margin-right: 10px;
}

.profile-button-text {
    font-size: 1.5rem;
    font-family: Gotham;
}
